# Virtual Environment
venv/
env/

models/

# Python Bytecode Files
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment Variables & Secrets
.env
*.sqlite3

# Cache & Logs
*.log
*.db
cache/
logs/

# Editor/IDE Files
.vscode/
.idea/
*.swp